#info-card {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: var(--background-color);
  color: var(--text-color);
}

.zoom-hover {
  transition: transform 0.3s ease;
  display: inline-block;
}

.zoom-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}
